<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets async="true">
		<target name="dataTrace" xsi:type="File"
				fileName="${basedir}/logs/trace-${shortdate}.log"
				header="Date|Time|Level|Message"
            layout="${date:format=yyyy-MM-dd}|${date:format=HH\:mm\:ss}|${uppercase:${level}}|${message}" />

		<target name="dataError" xsi:type="File"
				fileName="${basedir}/logs/error-${shortdate}.log"
				header="Date|Time|Level|Message"
            layout="${date:format=yyyy-MM-dd}|${date:format=HH\:mm\:ss}|${uppercase:${level}}|${message} ${exception:format=tostring}" />


		<target name="dataWarning" xsi:type="File"
				fileName="${basedir}/logs/warning-${shortdate}.log"
				header="Date|Time|Level|Message"
            layout="${date:format=yyyy-MM-dd}|${date:format=HH\:mm\:ss}|${uppercase:${level}}|${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" maxlevel="Trace"  writeTo="dataTrace" />
		<logger  name="*" minlevel="Error" maxlevel="Error"  writeTo="dataError" />
		<logger  name="*" minlevel="Warning" maxlevel="Warning"  writeTo="dataWarning" />
	</rules>
</nlog>